.cc--form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    input {
        color: black;
        border-radius: 8px;
    }
    select {
        color: grey;
        border-radius: 8px;
    }
    option {
        color: black;
    }
    textarea {
        color: black;
        border-radius: 8px;
    }
    label {
        font-size: 20px;
    }
}
