.inicio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.description {
    width: 50%;
}

.main-image {
    height: 500px;
}

.carousel{
    width: 25%;
}

//MEDIA QUERIES

@media (max-width: 990px) {
    .inicio-container{
        flex-direction: column;
        max-width: 100%;
        margin: 10px;
        div{
            width: 100%;
            margin-left: 0%;
        }
    }
    .description {
        width: 100%;
    }
}